<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link active" routerLink="/home">
                    <div class="sb-nav-link-icon"></div>
                    <i class="fas fa-tachometer-alt"></i> &nbsp;
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Cadastros</div>
                <a class="nav-link" 
                    routerLink="/clientes">
                    <i class="fa fa-id-card"> </i>&nbsp;
                    Clientes
                </a>

                <div class="sb-sidenav-menu-heading">
                    Tarefas
                </div>
                <a class="nav-link"
                    routerLink="/servicos" >
                    <i class="fa fa-toolbox"></i> &nbsp;
                    Serviços
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Usuário:</div>
            Gregório Ferraz <button class="btn btn-secondary btn-sm" routerLink="/login"><i class="fa fa-arrow-left"></i> Sair</button>
        </div>
    </nav>
</div>